.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider{
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgb(64, 134, 255);
  transition: 0.4s;
  border-radius: 34px;

}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;

}

input:checked + .slider{
  background-color: rgb(156, 86, 248) ;
}
input:checked +  .slider:before{
  transform: translateX(26px);
}